#Viewer {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: rgb(35, 116, 171);
  background: radial-gradient(circle, rgb(35, 116, 171) 0%, rgb(19, 61, 90) 100%);
}
#Viewer .title {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
#Viewer .-lil {
  opacity: 0.2;
}
#Viewer .-hide {
  opacity: 0;
}
#Viewer .view {
  transition: 0.3s;
}
#Viewer .pad {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  opacity: 0;
  display: none;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.5333333333);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
@media screen and (min-width: 780px) {
  #Viewer .pad {
    padding: 40px 150px;
  }
}
@media screen and (max-width: 780px) {
  #Viewer .pad {
    padding: 20px 0;
  }
}
#Viewer .pad.show {
  opacity: 1;
}
#Viewer .pad.dsp {
  display: flex;
}
#Viewer .pad .container {
  width: 100%;
  border-radius: 20px;
  background-color: #1d5f8c;
}
#Viewer .pad .head {
  text-align: right;
}
#Viewer .pad .bi-x-lg {
  cursor: pointer;
  transition: 0.2s;
  border-radius: 50%;
  padding: 10px 12px;
}
@media screen and (min-width: 780px) {
  #Viewer .pad .bi-x-lg {
    position: absolute;
    margin: 40px;
    background-color: rgba(99, 99, 99, 0.2);
  }
  #Viewer .pad .bi-x-lg:hover {
    background-color: rgba(177, 66, 66, 0.8980392157);
  }
}
@media screen and (max-width: 780px) {
  #Viewer .pad .bi-x-lg {
    display: inline-block;
    border: solid 1px rgba(199, 199, 199, 0.5254901961);
  }
}
#Viewer .pad .quick {
  text-align: left;
  padding: 40px 0 0 40px;
  font-size: 1.5rem;
}
#Viewer .pad .quick span {
  margin-right: 5px;
}
#Viewer .pad .body {
  display: flex;
  padding: 0 40px;
}
#Viewer .pad .body .section {
  width: 100%;
  flex-grow: 1;
}
@media screen and (min-width: 750px) {
  #Viewer .pad .body .section {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  #Viewer .pad .body .section {
    width: 50%;
  }
}
#Viewer .pad .body p {
  margin-bottom: 10px;
}
#Viewer .pad .body h3 {
  margin-bottom: 10px;
  margin-top: 20px;
}
#Viewer .pad .body .price {
  margin-top: 10px;
}
#Viewer .pad .body #name {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px 10px 0 0;
  display: inline-block;
  border-top: solid 2px white;
}
#Viewer .pad .body #name h1 {
  font-size: 2.3rem;
}
#Viewer .pad .body #img {
  text-align: right;
}
#Viewer .pad .body #img img {
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}
#Viewer .control {
  top: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#Viewer .control .name {
  display: inline-block;
  font-size: 14px;
  transform: translateY(-2.5px);
  margin: 0 5px;
}
#Viewer .control.r {
  left: auto;
  right: 0;
  direction: rtl;
}
#Viewer .control.r button {
  direction: ltr;
}
#Viewer .control #right button, #Viewer .control #left button {
  background-color: #2374ab;
  border-radius: 10px;
  padding-top: 10px;
}
#Viewer .control #right button:hover, #Viewer .control #left button:hover {
  scale: 1.05;
}
#Viewer .control #navigate button {
  margin-top: 15px;
  border-radius: 50%;
  padding: 8px 10px;
  background-color: #2374ab;
}
#Viewer .control #navigate button:hover {
  background-color: rgb(49, 107, 168);
}
#Viewer .control button {
  margin: 10px;
  border: none;
  display: block;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 8px 10px;
}
#Viewer .explainer {
  z-index: 6;
  right: 0;
  bottom: 0;
  height: 10%;
  transition: 0.3s;
  overflow: hidden;
  position: absolute;
  border-top-left-radius: 50px;
  background-color: rgba(65, 137, 185, 0.4392156863);
  display: flex;
  text-align: left;
}
#Viewer .explainer #hide {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 50px;
  transition: 0.2s;
  cursor: pointer;
  background-color: rgba(44, 117, 167, 0.4392156863);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.0666666667);
}
#Viewer .explainer #hide:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1333333333);
}
#Viewer .explainer #hide span {
  padding-top: 20px;
}
#Viewer .explainer #content {
  padding: 20px;
  transition: 0.3s;
  overflow: hidden;
}
#Viewer .explainer #content.hidden {
  width: 0;
  padding: 0;
}
#Viewer .explainer .head {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  #Viewer .explainer .head {
    flex-direction: column;
  }
}
#Viewer .explainer button {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: #3985b8;
  transition: 0.3s;
}
#Viewer .explainer button:hover {
  box-shadow: 3px 3px 2px #165783;
}
#Viewer .explainer p {
  margin-top: 5px;
}
@media screen and (max-width: 1000px) {
  #Viewer .explainer p {
    margin-top: 10px;
  }
}
@media screen and (max-width: 1000px) {
  #Viewer .explainer {
    min-height: 25%;
  }
  #Viewer #content {
    width: 60vw;
  }
  #Viewer h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1000px) {
  #Viewer .explainer {
    min-height: 20%;
  }
  #Viewer #content {
    width: 50vw;
  }
}/*# sourceMappingURL=part.css.map */